
body
{
    background-image: url('/photos/Website\ Design\ Background\ \ \ MOBO\ Media\ Web\ Design.png');

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
strong
{
    font-size: 40px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: rgb(211, 230, 129)
}
p
{
    
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: rgb(171, 232, 236);
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
h1
{
    font-style: italic;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    color: rgb(226, 134, 134);
}
h2
{
    text-align: center;
    font-size: 30px;
    color: black;
}
#menu {
    position: fixed;
	width: 100%;
	height: 100px;
	background: white;
    background-color: rgba(122, 131, 124, 0.842);
    overflow: hidden;
}
#menu a {
    float: left;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#menu li {
    list-style:none;
}
.logo-img{
    float: right;
    position: relative;
    margin: 10px 15px 15px 10px;
}
.column {
    
    flex: 25%;
    padding: 5px;
    height: auto;
    width: 100%;
    
}
.row{
    display: flex;
    padding: 0-8px;
    border: 1px;
}
.your-centered-div {
    width: 560px; /* you have to have a size or this method doesn't work */
    height: 315px; /* think about making these max-width instead - might give you some more responsiveness */
    margin: auto; /* make em equal */
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  list-style-type: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
.fb-like{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    /* float: left; */
    /* position: relative; */
    margin: 10px 150px 15px 500px;
}
#qrcode{
    /* display: block; */
    /* margin-right: 80; */
    margin-left: auto;
    width: 60%;
}
p {
  width: 100%;
  border: 15px solid rgb(141, 182, 141);
  padding: 50px;
  margin: 20px;
  
}
body {
    font-family: Arial;
    margin: 0;
  }
  
* {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  formText
  {
     text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      color: white;
      font-weight: bold;
      font-size: 40px;
  }